* {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;
  color: #f1f1f1;
}

body {
  background: #316da7;
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  background: #316da7;
  height: 8vh;
  border-bottom: solid 2px #81b3f2;
  justify-content: end;
}

.search-bar {
  width: 300px !important;
}

.input-search {
  outline: none;
  border: none;
  color: black;
}

.main {
  height: 88vh;
  flex-direction: row;
}

.left-content {
  background: #5990cd;
  width: 41.5%;
}

.icon {
  width: 50%;
  max-width: 250px;
}

.main-icon {
  width: 100%;
}

.current {
  font-size: 45pt;
}

.min-max {
  font-size: 20pt;
}

.right-content {
  background: #6da2df;
  width: 58.5%;
}

.forecast {
  width: 100%;
}

.individual-forecast {
  margin-top: 20px !important;
  background: #5990cd;
  width: 80%;
  height: 80px;
  border-radius: 3px;
}

.icon-forecast {
  width: 25%;
  max-width: 100px;
}

.footer {
  background: #316da7;
  width: 100%;
  height: 4vh;
  border-top: solid 2px #81b3f2;
}

@media (max-width: 767px) {
  .header {
    justify-content: center !important;
  }

  .input-search {
    width: 80% !important;
    max-height: 40px;
  }

  .left-content {
    width: 100%;
    min-height: 50vh;
    border: none !important;
  }

  .right-content {
    background: #5990cd !important;
    width: 100%;
    min-height: 50vh;
  }

  .right-loader {
    visibility: hidden;
  }

  .top {
    flex-direction: column;
    gap: 10px;
  }

  .main {
    height: auto;
    flex-direction: column;
  }

  .individual-forecast {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100px;
    margin: 0 !important;
  }
}
